.btn{
    color: blanchedalmond;
    background-color: black;
    border-radius: 10px;
    
}

/* .headerRight{
    flex: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCenter{
    flex: 6;
} */