.dropdown-toggle:after {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .dropdown-menu {
    padding: 20px;
      width: 220px;
  }
  
  .navbar-nav .dropdown-menu li a {
    margin-bottom: 10px;
      padding-bottom: 10px;
      display: block;
      border-bottom: 1px dotted #ccc;
  }
  
  .navbar-nav .dropdown-menu li:last-child a {
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
  }
  
  .hero-btns .btn-mobile {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  
  .hero-btns .btn-mobile:hover {
    text-decoration: none;
  }
  
  .hero-btns .btn-mobile button {
    margin: auto;
  }
  
  .hero-btns .btn-mobile button:hover {
    background-color: #0069d9;
    color: #fff;
    border-color: #0069d9;
  }
  
  .hero-btns .btn-mobile button i {
    line-height: 24px;
    font-size: 22px;
    margin-left: 10px;
  }
  
  .hero-btns .sliit {
    color: #fff;
  }
  
  .cards__item__pic-wrap::after {
    display: none;
  }
  
  .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 50px;
    line-height: 29px;
    font-weight: bold;
  }
  
  .cards__item__img {
    height: auto !important;
    object-fit: inherit;
    max-height: none !important;
  }
  
  .cards__item__info {
    padding: 15px 20px;
  }
  
  .cards__item__info h5 {
    font-size: 16px;
      color: #333;
      font-weight: bold;
  }
  
  .organised-image {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .organised-image img {
    margin: 0px 20px;
  }